/*color 
#5E7A0B
#A5CB37
#EFF1ED
#AFC196
#86B712
#505E27
#93A65C
#EFF0EE
#ADB6A0
#758E3B
*/
@import url("grid.css");



* 
{
    margin: 0px;
    padding: 0px;
    outline: none;
    -webkit-font-smoothing: antialiased;
}


html, body {
    font-family: varela, "century gothic", helvetica, arial, sans-serif;
    text-rendering: optimizeLegibility;
    background: url("img/pattern.png") repeat top left #fdfdfd;
    margin：0px；
    
}

#box {
    margin: auto auto;
    max-width: 1680px;
    background: #f4f4f4;
}

#container {
    background: #fdfdfd;
}

#main {
    border-bottom: 1px solid #e0e3e5;
    background: #fdfdfd;
}

hr {
    border-color: #e0e3e5;
    border-width: 0px 0px 1px 0px;
    margin: 0px auto 1em;
    width: 20%;
}

/* header------------------------------*/
#menu {
    display: none;
    width: 100%;
    position: relative;
    font-size: 90%;
    border-bottom: 1px solid rgba(225,227,229,0.5);
}

#menu ul {
    list-style-type: none;
    padding: 30px;
}

#menu ul li {
    margin-bottom: 0px;
    line-height: 2em;
}

#menu ul li a{
    display: block;
    color: #e0e3e5;
}

#logoandmore {
    border-width: 0px 0px 0px;
    border-style: solid none;
    border-color: #e0e3e5;
    padding: 15px 0px 5px;
}

#logoandmore:hover {
    cursor: pointer;
}

.logo {
    padding-left: 30px;
    height: 25px;
    display: block;
    float: left;
    padding-right: 5px;
    width: 91px;
    background: url("img/logo.png") no-repeat 30px top transparent;
    background-size: 91px;
}

.inactive .logo {
    background: url("img/logo.png") no-repeat 30px top transparent;
    background-size: 91px;
}

.active .logo {
    background: url("img/logo-active.png") no-repeat 30px top transparent;
    background-size: 91px;
}


#arrow {
    display: block;
    height: 16px;
    width: 16px;
    float: left;
    background-color: transparent;
    background-image: url(img/arrow-sprite.png);
    background-position: center -16px;
    background-repeat: no-repeat;
    padding: 0 5px;
     -webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
		transition: all 500ms ease;
}

#arrow-down:hover {
    -webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
		transition: all 500ms ease;
}

.arrow-down:before,
.arrow-down:after {
    content:"";
    display:table;
}

.arrow-down:after {
    clear:both;
}

.active {
    background: #93A65C;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

/*Blogroll--------------------------------------------*/

#blogroll article {
    border-bottom: 1px solid #e0e3e5;
    padding: 30px 30px;

}

.featured-thumbnail {
    width: 100%;
    height: 200px;
    margin-bottom: 2em;
    background: #fff;
}

.page-template-page-fullwidth-php article {
    border-bottom-width: 0px;
}



/*Sidebar------------------------------------------*/

#sidebar h3 {
    line-height: 1.5em;
    font-size: 80%;
    text-transform: uppercase;
    font-family: varela,"century gothic",helvetica,arial,sans-serif;
    margin-bottom: 0.5em;
}

#sidebar {
    width: 200px;
    background-color: #d9dbd6;
    position: absolute;
    right: 0px;
    z-index: 9999
}

#sidebar ul li.widget:last-child {
    border-bottom: 0px solid #e0e3e5;
}

#sidebar li {
    font-size: 100%;
    list-style-type: none;
}

#sidebar .widget {
    padding: 30px;
    border-bottom: 1px solid #e0e3e5;
}

.single #sidebar ul {
    list-style: none;
    width: 100%;
}

.single #sidebar ul li.widget {
    margin-left: 0px;
    padding-left: 0px;
}





/*Widgets---------------------------------------------*/

.widget h4 {
    margin-bottom: 2em;
}



#execphp-12 {
	border-bottom: 1px solid #e0e3e5;
    border-right: 1px solid #e0e3e5;
    -webkit-transition: background 200ms ease-in-out;
		-moz-transition: background 200ms ease-in-out;
        -ms-transition: background 200ms ease-in-out;
        -o-transition: background 200ms ease-in-out;
		transition: background 200ms ease-in-out;
        text-align: center;
        list-style-type: none;
        margin-bottom: 0px;
}

#blogroll article:last-child {
    border-bottom: 0px solid #e0e3e5;
}


.widget{
    padding: 20px 0px 30px;
    margin: 0px 0px;
}

.home .widget {
    -webkit-transition: background 200ms ease-in-out;
		-moz-transition: background 200ms ease-in-out;
        -ms-transition: background 200ms ease-in-out;
        -o-transition: background 200ms ease-in-out;
		transition: background 200ms ease-in-out;
        text-align: center;
        list-style-type: none;
        margin-bottom: 0px;
}

.home .widget:hover {
    background: #f4f4f4;
    -webkit-transition: background 200ms ease-in-out;
		-moz-transition: background 200ms ease-in-out;
        -ms-transition: background 200ms ease-in-out;
        -o-transition: background 200ms ease-in-out;
		transition: background 200ms ease-in-out;
}

.home #main {
    border-bottom: 0px solid #e0e3e5;
}



/*Footer/Bottom---------------------------------------*/

#bottom {
    padding: 20px 0px;
}

#bottom ul {
    list-style-type: none;
    padding: 0px 30px;

}

#bottom ul li {
    display: inline-block;
    margin-bottom: 0;
    padding: 0 10px 0px 0px;
}

#bottom ul li:first-child a{
    display: inline-block;
    /*background: url('/wp-content/themes/yeedor/_assets/logos/yeedor.png') no-repeat bottom right;*/
    background-size: 63px;
    width: 65px;
    height: 12px;
}

#legal {
    text-align: right;
    padding-right: 30px;
}

/*Widgets---------------------------------------------*/

.widget h4 {
    margin-bottom: 2em;
}

.home .widget {
    border-bottom: 1px solid #e0e3e5;
    border-right: 1px solid #e0e3e5;
}

#blogroll article:last-child {
    border-bottom: 0px solid #e0e3e5;
}



/*Queries---------------------------------------------*/

@media screen and (min-width: 0px) and (max-width: 340px) {


}

/*-----------------------------------------------------*/

@media screen and (min-width: 341px) and (max-width: 489px) {


}

/*-----------------------------------------------------*/

@media screen and (min-width: 0px) and (max-width: 489px) {

    .home .widget {
        border-right: 0px solid #f4f4f4;
    }

    .excerpt {
        display: block;
    }

    #execphp-22 span:first-child {
        border-bottom: 1px solid #e0e3e5;
        border-right-width: 0px;
    }

    #bottom ul li {
        display: block;
        padding: 0px 0px;
        text-align: center;
    }

    .image {
        padding: 0px 0px 1em 0px;
    }

    .featured-blog-image {
        padding-left: 0px;
    }

    #sidebar #return {
        border-bottom-width: 0px;
        padding-bottom: 1em;
    }

}

/*-----------------------------------------------------*/

@media screen and (min-width: 490px) and (max-width: 769px) {

    .entry-title {
        font-size: 225%;
    }

    #bottom ul {
        text-align: center;
        margin: auto;
    }

    #legal {
        padding: 0px 0px;
        text-align: center;
    }

    #main {
        border-bottom-color: #f4f4f4;
    }

    .excerpt {
        display: block;
    }

    #execphp-20, #categories-3 {
        border-top: 1px solid #e0e3e5;
    }

    .image .span_2 {
        width: 100%;
    }

    .image .overview {
        padding-right: 30px;
    }

    .image .overview .excerpt {
        display: inline !important;
    }

    .home .featured-blog-image {
        padding-left: 0px;
    }

}

@media screen and (min-width: 770px) and (max-width: 1024px) {

        .excerpt {
            display: none;
        }

        .image .overview .excerpt {
            display: inline !important;
        }

}

@media screen and (min-width: 770px) and (max-width: 1280px) {

    .image .overview .excerpt {
        display: inline !important;
    }

    .page-template-page-products-php .content .excerpt {
        width: 80%;
    }

}

@media screen and (min-width: 1281px) {

    .page-template-page-products-php .content .excerpt {
        width: 80%;
    }



}










